<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wallpaper.nier">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cuadro"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_cuadro"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2030839089746380~9279117316"/>

        <activity android:name=".Vista"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".FullscreenActivity" />
        <activity
            android:name=".AcercadeActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".SugerenciasActivity"/>
        <activity android:name=".AyudaActivity"/>
        <activity
        android:name=".MainActivity"
        android:label="@string/title_activity_main" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>